<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ascii Art Web</title>
</head>
<body>
    <div class="container">
        <br>
        <h2 id="h2">Ascii Art Web</h2>
        <h3 id="h3">Generator</h3>
        <form action="/submit" method="POST">
            <br>
            <textarea id="textarea" name="input" placeholder="Enter Value"></textarea>
            <br>
            <select name="select" id="select">
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select>
            <br>
            <button type="submit">Generate ASCII Art</button>
        </form></form>
    </div>
</body>
</html>