<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ascii Art Web</title>
</head>
<body>
    <div class="container">
        <br>
        <h2 id="h2">Ascii Art Web</h2>
        <h3 id="h3" >Generator</h3>
        <br>
        <form action="/submit" method="post"></form>
        <textarea id="textarea" name="input" placeholder="Entre Value" ></textarea>
        <br>
        <select name="select" aria-placeholder="select" id="select">

          <option value="standart">standard</option>
          <option value="shadow">shadow</option>
          <option value="thinkertoy">thinkertoy</option>
        </select>
        <button class="button" >Submit</button>
        <</form>
    </div>
</body>
</html>